/.venv
/.vscode
/__pycache__
test.bat
auto.bat
templates/novels/
templates/tbate-185.html
.env
pics/
.idea
webscrapers/lightNovelPubDotVip/__pycache__/
webscrapers/readerNovel/__pycache__/
webscrapers/__pycache__
webscrapers/readWebNovel/__pycache__/
webscrapers/webNovelDotCom/__pycache__/
app.log
