/.venv
/.vscode
/__pycache__
test.bat
auto.bat
templates/novels/
templates/tbate-185.html
.env
pics/
offlineChapters.py
.idea
webscrapers/lightNovelPubDotVip/__pycache__/
webscrapers/readerNovel/__pycache__/
webscrapers/__pycache__
