<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='MAINICON-20240501-rounded.png') }}">
    <title>Novel Reader</title>
</head>
<body>
    {% include "header.html" %}

    <main>
        <section class="hero" style='border-radius: 20px;'>
            <h2>Error - 404</h2>
            <p>
                Page Not found<br><br>
                If you are still having lots of trouble try joining our <a href="https://www.discord.gg/k5HBFXqtCB" target="_blank" style='text-decoration: none;'>Discord Server</a> for help
            </p>
        </section>
    </main>

    

    <script src='/./static/script.js'></script>
</body>
</html>
