<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='MAINICON-20240501-rounded.png') }}">
    <title>Current Chapter</title>
</head>
<body>
    {% include "header.html" %}

    <main>
        <section class="hero">
            <h2>Bernso's Current Chapters</h2>
        </section>

        <section class="features">
            <div class="feature">
                <a href='/novels/The%20Beginning%20After%20The%20End%20(Web%20Novel)-chapters'>
                    <div class="icon">📚</div>
                    <h3>TBATE</h3>
                    <p>Chapter 430</p>
                </a>
            </div>
            <div class="feature">
                <a href='/novels/Lord%20of%20the%20Mysteries%20(Web%20Novel)-chapters' style='cursor: pointer;'>
                    <div class="icon">⚡</div>
                    <h3>Lord Of The Mysteries</h3>
                    <p>Chapter x</p>
                </a>
            </div>
            <div class="feature">
                <a href='/novels/Shadow%20Slave-chapters'>
                    <div class="icon">🌙</div>
                    <h3>Shadow Slave</h3>
                    <p>Chapter x</p>
                </a>
            </div>
        </section>
        <section class="community">
            <h2>Join Our Community</h2>
            <p>Connect with other readers on our <a href="https://www.discord.gg/k5HBFXqtCB" target="_blank" style='text-decoration: none;'>Discord Server</a></p>
            <p>Created by <a href="https://www.github.com/Bernso" target="_blank" style='text-decoration: none;'>Bernso</a></p>
        </section>
    </main>

    

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
