<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='MAINICON-20240501-rounded.png') }}">
    <link rel="icon" type="image/png" href="/./static/MAINICON-20240501-rounded.png">
    <link rel="stylesheet" href="/./static/style.css">
    <title>Home</title>
    
</head>
<body>
    <div class="chapter">
        <div class="content">
            <span class="speaker">TBATE</span>
            <p class="content">
                Chapter 430
            </p>
            
        </div>
    </div>
</body>
<script>

</script>
</html>