<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Come and read all your favourite novels for free in the best UI now!">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='MAINICON-20240501-rounded.png') }}">
    <title>Novel Reader</title>
</head>
<style>
    .feature {
        max-width: none;
    }
</style>

<body class='no-select'>
    {% include 'header.html' %}

    <main style='min-width: 40%;'>
        <section class="hero">
            <h2>Domains</h2>
            <p>
                In this page you can view all of our sites.
            </p>
        </section>

        <section class="features">
            
            <div class="feature no-select" onclick='sendto("https://berns0.pythonanywhere.com/")'>
                <a style="cursor: pointer;">
                    <div class="icon">📁</div>
                    <h3>https://berns0.pythonanywhere.com/</h3>
                    <p>Main Site</p>
                </a>
            </div>

            <div class="feature no-select" onclick='sendto("https://bernso.pythonanywhere.com/")'>
                <a style="cursor: pointer;">
                    <div class="icon">📁</div>
                    <h3>https://bernso.pythonanywhere.com/</h3>
                    <p>Sub Site</p>
                </a>
            </div>
            
        </section>

        <section class="community">
            <h2>Join Our Community</h2>
            <p>Connect with other readers on our <a href="https://www.discord.gg/k5HBFXqtCB" target="_blank" style='text-decoration: none;'>Discord Server</a>.</p>
            <p>Created by <a href="https://www.github.com/Bernso" target="_blank" style='text-decoration: none;'>Bernso</a></p>
        </section>
    </main>

    

    <script>
        function sendto(place) {
            location.href = place;
        }
    </script>
        
</body>
</html>
