<!-- Header template -->
<header class="header">
    <div class="logo">
        <h1><a href='/'>Novel Reader</a></h1>
    </div>
    <button class="mobile-menu-button" aria-label="Toggle menu">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <nav class="nav">
        <ul>
            <li>
                <a class="start-reading" id="generateButton" href="/webscrapers">
                    Webscrapers
                </a>
            </li>
            <li>
                <a class="start-reading" href="/novels" aria-label="Browse Novels">
                    Novels
                </a>
            </li>
            <li>
                <a class="start-reading" href="/plans">
                    Plans
                </a>
            </li>
            <li>
                <a class="start-reading" id="randomDirButton" href="#">
                    Random Novel
                </a>
            </li>
        </ul>
    </nav>
</header>