<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='MAINICON-20240501-rounded.png') }}">
    <title>Why Here?</title>
</head>
<body>
    {% include 'header.html' %}

    <main>
        <section class="hero">
            <h2>Welcome to the World of Novels</h2>
            <p>Seamlessly generate and read your favorite novels with a dark, majestic interface.</p>
        </section>

        <section class="features">
            <div class="feature" style='align: center;'>
                <a href='/'>
                    <div class="icon">📚</div>
                    <h3>Why Are You Here?</h3>
                    <p>Your Not Going To Find {{ novel_title }} Here.</p>
                </a>
            </div>
            
        </section>

        <section class="community">
            <h2>Join Our Community</h2>
            <p>Connect with other readers on our <a href="https://www.discord.gg/k5HBFXqtCB" target="_blank" style='text-decoration: none;'>Discord Server</a>.</p>
            <p>Created by <a href="https://www.github.com/Bernso" target="_blank" style='text-decoration: none;'>Bernso</a></p>
        </section>
    </main>

    

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
