<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='MAINICON-20240501-rounded.png') }}">
    <title>Why Here?</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <h1><a href='/'>Novel Reader</a></h1>
        </div>
        <nav class="nav">
            <ul>
                <li>
                    <a class="start-reading" id="generateButton" href="/webscrapers" style='color: #BB86FC; border: none; background-color: #1a1a1a; box-shadow: 0px 0px 0px;'>
                        Webscrapers
                    </a>
                </li>
                <li>
                    <a class="start-reading" href="/novels" aria-label="Browse Novels" style='color: #BB86FC; border: none; background-color: #1a1a1a; box-shadow: 0px 0px 0px;'>
                        Novels
                    </a>
                </li>
                <li>
                    <a class="start-reading" href="/plans" style='color: #BB86FC; border: none; background-color: #1a1a1a; box-shadow: 0px 0px 0px;'>
                        Plans
                    </a>
                </li>
                <li>
                    <a class="start-reading" id="randomDirButton" href="#" style='color: #BB86FC; border: none; background-color: #1a1a1a; box-shadow: 0px 0px 0px;'>
                        Random Novel
                    </a>
                </li> 
                <li>&nbsp;&nbsp;</li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <h2>Welcome to the World of Novels</h2>
            <p>Seamlessly generate and read your favorite novels with a dark, majestic interface.</p>
        </section>

        <section class="features">
            <div class="feature" style='align: center;'>
                <a href='/'>
                    <div class="icon">📚</div>
                    <h3>Why Are You Here?</h3>
                    <p>Your Not Going To Find {{ novel_title }} Here.</p>
                </a>
            </div>
            
        </section>

        <section class="community">
            <h2>Join Our Community</h2>
            <p>Connect with other readers on our <a href="https://www.discord.gg/k5HBFXqtCB" target="_blank" style='text-decoration: none;'>Discord Server</a>.</p>
            <p>Created by <a href="https://www.github.com/Bernso" target="_blank" style='text-decoration: none;'>Bernso</a></p>
        </section>
    </main>

    

    <script src='/./static/script.js'></script>
</body>
</html>
