<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ novel_title2 }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='MAINICON-20240501-rounded.png') }}">
    <link rel="icon" type="image/png" href="/./static/MAINICON-20240501-rounded.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='chaptersPageStyle.css') }}">
    <link rel="stylesheet" href="/./static/style.css">
</head>
<body>
    <div class='chapter'>
        <div class="content">
            <h1 class='speaker'>{{ novel_title2 }}</h1>
            <a onclick="updateNovel('{{ novel_title1 }}', '{{ novel_title2 }}')" class='fancyLink'>Update Novel</a><br>
            <a class='fancyLink' href='/'>Home</a>
            <ul class='chapters'>
                {% for chapter in chapters %}
                    <li><a href="/novels/{{ novel_title1 }}/chapters/{{ chapter }}">Chapter {{ chapter }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>


    <script>
        function updateNovel(novelTitle1, novelTitle2) {
            fetch(`/update_novel/${novelTitle1}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ novelTitle2: novelTitle2 })  // Ensure novelTitle2 is sent in the JSON body
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    alert(data.message);
                    location.reload(); // Reload the page after successful update
                } else {
                    alert('Error: ' + data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Network error. Please try again later.');
            });
        }        
    </script>
</body>
</html>
