<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='MAINICON-20240501-rounded.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Novels</title>
</head>
<body>

    
    <header class="header">
        <div class="logo">
            <h1><a href='/'>Novel Reader</a></h1>
        </div>
        <nav class="nav">
            <ul>
                <li><a class="start-reading" id="generateButton" onclick="showPrompt()" style='color: #BB86FC; border: none; background-color: #1a1a1a; box-shadow: 0px 0px 0px;'>Get Chapters</a></li>

                <li><a class="start-reading" href="/novels" style='color: #BB86FC; border: none; background-color: #1a1a1a; box-shadow: 0px 0px 0px;'>Novels</a></li>

                <li><a class="start-reading" href="/plans" style='color: #BB86FC; border: none; background-color: #1a1a1a; box-shadow: 0px 0px 0px;'>Plans</a></li>

                <li><a class="start-reading" href="/currentChapter" style='color: #BB86FC; border: none; background-color: #1a1a1a; box-shadow: 0px 0px 0px;'>Current Chapter</a></li>
                
                <li>&nbsp;&nbsp;</li>
            </ul>
        </nav>
        
    </header>


    <main style='min-width: 980px;'>
        <section class="hero">
            <h2>Novels</h2>
            <p style="margin-bottom: 0;">Read all of your favourite novels in a dark, majestic interface.</p>
            <section class="search" style="margin-top: 0;">
                <input type="text" id="searchInput" onkeyup="searchNovels()" placeholder="Search for novels...">
            </section>
        </section>

        <section class="features">
            {% for original_novel, modified_novel, categories in novels %}
                <div class="feature">
                    <a href='{{ url_for('show_novel_chapters', novel_title=original_novel) }}'>
                        <div class="icon">{{ emojis[loop.index0 % emojis|length] }}</div>
                        <h3 style='align: center;'>{{ modified_novel }}</h3>
                        <p>{{ categories }}</p>
                    </a>
                </div>
            {% endfor %}
        </section>
        
        
        

       

        <section class="community">
            <h2>Join Our Community</h2>
            <p>Connect with other readers on our <a href="https://www.discord.gg/k5HBFXqtCB" target="_blank" style='text-decoration: none;'>Discord Server</a></p>
            <p>Created by <a href="https://www.github.com/Bernso" target="_blank" style='text-decoration: none;'>Bernso</a></p>
        </section>
    </main>
    <script>
        function showPrompt() {
            const novelLink = prompt("Enter the link for your novel:", "Link");
            if (novelLink) {
                alert("Processing...");
                fetch('/run_script', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ novelLink: novelLink })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        alert('Chapters generated successfully! Latest chapter: ' + data.latest_chapter);
                    } else {
                        alert('An error occurred. Please try again.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred. Please try again.');
                });
            } else {
                alert("Prompt cancelled.");
            }
        }
    </script>
    <script>
        function searchNovels() {
            var input, filter, features, feature, h3, i, txtValue;
            input = document.getElementById('searchInput');
            filter = input.value.toUpperCase();
            features = document.getElementsByClassName('feature');
    
            for (i = 0; i < features.length; i++) {
                h3 = features[i].getElementsByTagName('h3')[0];
                txtValue = h3.textContent || h3.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    features[i].style.display = "";
                } else {
                    features[i].style.display = "none";
                }
            }
        }
    </script>
</body>
</html>