<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='MAINICON-20240501-rounded.png') }}">
    <meta name="description" content="Come and read all your favourite novels for free in the best UI now!">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Novels</title>
</head>
<body class='no-select'>
    <header class="header">
        <div class="logo">
            <h1><a href='/'>Novel Reader</a></h1>
        </div>
        <nav class="nav">
            <ul>
                <li>
                    <a class="start-reading" id="generateButton" href="/webscrapers" style='color: #BB86FC; border: none; background-color: #1a1a1a; box-shadow: 0px 0px 0px;'>
                        Webscrapers
                    </a>
                </li>
                <li>
                    <a class="start-reading" href="/novels" aria-label="Browse Novels" style='color: #BB86FC; border: none; background-color: #1a1a1a; box-shadow: 0px 0px 0px;'>
                        Novels
                    </a>
                </li>
                <li>
                    <a class="start-reading" href="/plans" style='color: #BB86FC; border: none; background-color: #1a1a1a; box-shadow: 0px 0px 0px;'>
                        Plans
                    </a>
                </li>
                <li>
                    <a class="start-reading" id="randomDirButton" href="#" style='color: #BB86FC; border: none; background-color: #1a1a1a; box-shadow: 0px 0px 0px;'>
                        Random Novel
                    </a>
                </li> 
                <li>&nbsp;&nbsp;</li>
            </ul>
        </nav>
    </header>

    <main style='min-width: 980px;'>
        <section class="hero">
            <h2>Novels</h2>

            <p style="margin-bottom: 0;">Read all of your favourite novels in a dark, majestic interface 
                <br> <br>
                 Browse though total of <strong style='color: #BB86FC;'>{{ total_novels }} novels</strong> 
            </p>

            <section class="search" style="margin-top: 0;">
                <input type="text" id="searchInput" onkeyup="searchNovels()" placeholder="Search for novels...">
            </section>
            <section class="filter">
                <button id="toggleFiltersButton" onclick="toggleFilters()">Categories</button>
                <div id="categoryFilters" style="display: none;">
                    {% for category in all_categories %}
                        <label>
                            <input type="checkbox" class="category-checkbox" value="{{ category }}">
                            {{ category }}
                        </label>
                    {% endfor %}
                </div>
            </section>
        </section>

        <section class="features">
            {% for original_novel, modified_novel, categories in novels %}
                <div class="feature" data-categories="{{ categories }}">
                    <a href='{{ url_for('show_novel_chapters', novel_title=original_novel) }}'>
                        <img src="{{ url_for('serve_image', novel_title=original_novel) }}" alt="Cover Image">
                        <div class="text">
                            <h3>{{ modified_novel }}</h3>
                            <p>{{ categories }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </section>

        <section class="community">
            <h2>Join Our Community</h2>
            <p>Connect with other readers on our <a href="https://www.discord.gg/k5HBFXqtCB" target="_blank" style='text-decoration: none;'>Discord Server</a></p>
            <p>Created by <a href="https://www.github.com/Bernso" target="_blank" style='text-decoration: none;'>Bernso</a></p>
        </section>
    </main>
    <button onclick="topFunction()" id="backToTopBtn" title="Go to top">Top</button>

    <script src='/./static/script.js'></script>
    <script>
        function searchNovels() {
            var input, filter, features, feature, h3, i, txtValue;
            input = document.getElementById('searchInput');
            filter = input.value.toUpperCase();
            features = document.getElementsByClassName('feature');

            for (i = 0; i < features.length; i++) {
                h3 = features[i].getElementsByTagName('h3')[0]; 
                txtValue = h3.textContent || h3.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    features[i].style.display = "";
                } else {
                    features[i].style.display = "none";
                }
            }
        }

        function filterNovels() {
            var checkboxes = document.querySelectorAll('.category-checkbox');
            var selectedCategories = Array.from(checkboxes).filter(checkbox => checkbox.checked).map(checkbox => checkbox.value.trim());
            var features = document.getElementsByClassName('feature');

            for (var i = 0; i < features.length; i++) {
                var categories = features[i].getAttribute('data-categories').split(/\s*,\s*/).map(cat => cat.trim());
                if (selectedCategories.length === 0 || selectedCategories.every(category => categories.includes(category))) {
                    features[i].style.display = "";
                } else {
                    features[i].style.display = "none";
                }
            }
        }

        function isElementHidden(element) {
            var style = window.getComputedStyle(element);
            return style.display === 'none';
        }

        function toggleFilters() {
            var filters = document.getElementById('categoryFilters');
            if (isElementHidden(filters)) {
                filters.style.display = 'grid';
            } else {
                filters.style.display = 'none';
            }
        }

        document.querySelectorAll('.category-checkbox').forEach(checkbox => {
            checkbox.addEventListener('change', filterNovels);
        });

        // Get the button
        var mybutton = document.getElementById("backToTopBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
            mybutton.style.right = "20px"; // Slide-in effect
          } else {
            mybutton.style.right = "-100px"; // Slide-out effect
          }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0; // For Safari
          document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
    </script>
</body>
</html>
