<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='MAINICON-20240501-rounded.png') }}">
    <title>Plans - Novel Reader</title>
    <meta name="description" content="Come and read all your favourite novels for free in the best UI now!">
</head>
<body>
    {% include 'header.html' %}

    <main>
        <section class="hero">
            <h2>Plans For The Future</h2>
            <p>Stuff that will hopefully be implemented soon</p>
        </section>
        
        <div class="features-wrapper">
            <section class="features">
                <div class="feature" style='align: center;'>
                    <a href='#'>
                        <div class="icon">🎯</div>
                        <h3 style='align: center;'>Goal 1</h3>
                        <p>Expand our novel collection to include more genres and authors.</p>
                    </a>
                </div>
                
                <div class="feature" style='align: center;'>
                    <a href='#'>
                        <div class="icon">📈</div>
                        <h3 style='align: center;'>Goal 2</h3>
                        <p>Improve the user interface for a more seamless reading experience.</p>
                    </a>
                </div>
                <div class="feature" style='align: center;'>
                    <a href='#'>
                        <div class="icon">🤝</div>
                        <h3 style='align: center;'>Goal 3</h3>
                        <p>Foster a vibrant community of readers and writers.</p>
                    </a>
                </div>

                <div class="feature" style='align: center;'>
                    <a href='#'>
                        <div class="icon">🔍</div>
                        <h3 style='align: center;'>Goal 4</h3>
                        <p>Enhance search functionality to help users find novels more easily.</p>
                    </a>
                </div>
                
                <div class="feature" style='align: center;'>
                    <a href='#'>
                        <div class="icon">🌐</div>
                        <h3 style='align: center;'>Goal 5</h3>
                        <p>Launch multilingual support to cater to a global audience.</p>
                    </a>
                </div>

                <div class="feature" style='align: center;'>
                    <a href='#'>
                        <div class="icon">🔒</div>
                        <h3 style='align: center;'>Goal 6</h3>
                        <p>Enhance security measures to protect user data and privacy.</p>
                    </a>
                </div>

                <div class="feature" style='align: center;'>
                    <a href='#'>
                        <div class="icon">🖊️</div>
                        <h3 style='align: center;'>Goal 7</h3>
                        <p>Add a chapter editing feature for selected users such that any error can be resolved.</p>
                    </a>
                </div>

                <div class="feature" style='align: center;'>
                    <a href='#'>
                        <div class="icon">🤝</div>
                        <h3 style='align: center;'>Goal 8</h3>
                        <p>Add a method for authors on our site to add a remove their own novels at their own will, without my interaction.</p>
                    </a>
                </div>
            </section>
        </div>

        <section class="community">
            <h2>Join Our Community</h2>
            <p>Connect with other readers on our <a href="https://www.discord.gg/k5HBFXqtCB" target="_blank" style='text-decoration: none;'>Discord Server</a>.</p>
            <p>Created by <a href="https://www.github.com/Bernso" target="_blank" style='text-decoration: none;'>Bernso</a></p>
        </section>
    </main>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
