<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='MAINICON-20240501-rounded.png') }}">
    <title>Home</title>
</head>
<body>
    <div class="chapter">
        <div class="content">
            <span class="speaker">Plans</span>
            <p class="content">
                I will add a search function in the future for the novels and their chapters as there can be many chapters in these type of novels.<br>
                <br>I a going to add fluent sounding (hopefully) text to speech, just in case you are to tired or bored to read.<br>
            </p><br>
            <button><a href='/'>Home</a></button>
            <p class="content">
                <br>Join the <a href="https://www.discord.gg/k5HBFXqtCB" style="color: #BB86FC;">Discord Server</a> for support<br>
                <br>Made By <a href="https://www.github.com/Bernso" style="color: #BB86FC;">Bernso</a>
            </p>
        </div>
    </div>

    <script>
        
    </script>
</body>
</html>
