<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='MAINICON-20240501-rounded.png') }}">
    <title>Popular Novels</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <h1><a href='/'>Novel Reader</a></h1>
        </div>
        <nav class="nav">
            <ul>
                <li>
                    <a class="start-reading" id="generateButton" onclick="showPrompt()" style='color: #BB86FC; border: none; background-color: #1a1a1a; box-shadow: 0px 0px 0px;'>
                        Get Chapters
                    </a>
                </li>

                <li>
                    <a class="start-reading" href="/novels" aria-label="Browse Novels" style='color: #BB86FC; border: none; background-color: #1a1a1a; box-shadow: 0px 0px 0px;'>
                        Novels
                    </a>
                </li>

                <li>
                    <a class="start-reading" href="/plans" style='color: #BB86FC; border: none; background-color: #1a1a1a; box-shadow: 0px 0px 0px;'>
                        Plans
                    </a>
                </li>

                <li>
                    <a class="start-reading" href="/currentChapter" style='color: #BB86FC; border: none; background-color: #1a1a1a; box-shadow: 0px 0px 0px;'>
                        Current Chapter
                    </a>
                </li>
                
                <li>
                    &nbsp;&nbsp;
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section style='margin-bottom: 0;' class="hero">
            <h2>Popular Novels</h2>
            <p>Our most viewed novels<br>(At the moment it is just 3 random novels)</p>
        </section>

        <section class="features">
            {% for original_novel, modified_novel, categories in novels %}
                <div class="feature" data-categories="{{ categories }}">
                    <a href='{{ url_for('show_novel_chapters', novel_title=original_novel) }}'>
                        <img src="{{ url_for('serve_image', novel_title=original_novel) }}" alt="Cover Image">
                        <div class="text">
                            <h3>{{ modified_novel }}</h3>
                            <p>{{ categories }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </section>

        <section class="community">
            <h2>Join Our Community</h2>
            <p>Connect with other readers on our <a href="https://www.discord.gg/k5HBFXqtCB" target="_blank" style='text-decoration: none;'>Discord Server</a>.</p>
            <p>Created by <a href="https://www.github.com/Bernso" target="_blank" style='text-decoration: none;'>Bernso</a></p>
        </section>
    </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src='/./script.js'></script>
</body>
</html>

