<!DOCTYPE html>
<html data-a="af266caa520a" data-g="good">
    <head>
        <meta charset="utf-8">
        <title>The Beginning After the End Manga, Chapter 185 | Read Online on MangaFire</title>
        <meta name="description" content="Read The Beginning After the End Chapter 185 manga online. You can also read all the chapters of The Beginning After the End here for free! READ NOW!!">
        <meta name="keywords" content="read manga The Beginning After the End Chapter 185, read manga online The Beginning After the End Chapter 185, manga The Beginning After the End Chapter 185 read online">
        <meta charset="utf-8">
        <meta name="robots" content="index, follow">
        <meta name="revisit-after" content="1 days">
        <base href="https://mangafire.to/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="The Beginning After the End Manga, Chapter 185 | Read Online on MangaFire">
        <meta property="og:description" content="Read The Beginning After the End Chapter 185 manga online. You can also read all the chapters of The Beginning After the End here for free! READ NOW!!">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="canonical" href="https://mangafire.to/read/the-beginning-after-the-end.6v55p/en/chapter-185">
        <link rel="shortcut icon" href="assets/sites/mangafire/favicon.png?v3" type="image/x-icon"/>
        <link rel="manifest" href="/manifest.json?v3">
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "WebSite",
                "url": "https://mangafire.to/",
                "potentialAction": {
                    "@type": "SearchAction",
                    "target": "https://mangafire.to/filter?keyword={keyword}",
                    "query-input": "required name=keyword"
                }
            }</script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.4/css/swiper.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/4.0.0/css/tooltipster.bundle.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,600&display=swap" rel="stylesheet">
        <link href="assets/fonts/awesome/css/fontawesome.min.css" rel="stylesheet">
        <link href="assets/fonts/awesome/css/solid.min.css" rel="stylesheet">
        <link href="assets/fonts/awesome/css/regular.min.css" rel="stylesheet">
        <link href="assets/fonts/awesome/css/brands.min.css" rel="stylesheet">
        <link rel="stylesheet" href="assets/t2/s1/min/all.css?6695b800190aa105c78">
    </head>
    <body class="read ctrl-menu-active" data-hid="6v55p" data-id="40268" data-type="manhwa" data-view-by="chapter" data-lang="en" data-number="185" data-default="0" data-disqus-id="mangafire-3">
        <span class="bg"></span>
        <div class="wrapper">
            <header>
                <div class="inner px-3">
                    <div class="component">
                        <button id="nav-menu-btn" class="btn nav-btn">
                            <i class="fa-regular fa-bars fa-lg"></i>
                        </button>
                        <a href="home" class="logo">
                            <img src="assets/sites/mangafire/logo-sm.png?v3" alt="MangaFire">
                        </a>
                        <div id="nav-menu">
                            <ul>
                                <li>
                                    <a href="javascript:;">Types</a>
                                    <ul class="c1">
                                        <li>
                                            <a title="Manga mangas" href="/type/manga">Manga</a>
                                        </li>
                                        <li>
                                            <a title="One-Shot mangas" href="/type/one-shot">One-Shot</a>
                                        </li>
                                        <li>
                                            <a title="Doujinshi mangas" href="/type/doujinshi">Doujinshi</a>
                                        </li>
                                        <li>
                                            <a title="Novel mangas" href="/type/novel">Novel</a>
                                        </li>
                                        <li>
                                            <a title="Manhwa mangas" href="/type/manhwa">Manhwa</a>
                                        </li>
                                        <li>
                                            <a title="Manhua mangas" href="/type/manhua">Manhua</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">Genres</a>
                                    <ul class="lg">
                                        <li>
                                            <a title="Action mangas" href="https://mangafire.to/genre/action">Action</a>
                                        </li>
                                        <li>
                                            <a title="Adventure mangas" href="https://mangafire.to/genre/adventure">Adventure</a>
                                        </li>
                                        <li>
                                            <a title="Avant Garde mangas" href="https://mangafire.to/genre/avant-garde">Avant Garde</a>
                                        </li>
                                        <li>
                                            <a title="Boys Love mangas" href="https://mangafire.to/genre/boys-love">Boys Love</a>
                                        </li>
                                        <li>
                                            <a title="Comedy mangas" href="https://mangafire.to/genre/comedy">Comedy</a>
                                        </li>
                                        <li>
                                            <a title="Demons mangas" href="https://mangafire.to/genre/demons">Demons</a>
                                        </li>
                                        <li>
                                            <a title="Drama mangas" href="https://mangafire.to/genre/drama">Drama</a>
                                        </li>
                                        <li>
                                            <a title="Ecchi mangas" href="https://mangafire.to/genre/ecchi">Ecchi</a>
                                        </li>
                                        <li>
                                            <a title="Fantasy mangas" href="https://mangafire.to/genre/fantasy">Fantasy</a>
                                        </li>
                                        <li>
                                            <a title="Girls Love mangas" href="https://mangafire.to/genre/girls-love">Girls Love</a>
                                        </li>
                                        <li>
                                            <a title="Gourmet mangas" href="https://mangafire.to/genre/gourmet">Gourmet</a>
                                        </li>
                                        <li>
                                            <a title="Harem mangas" href="https://mangafire.to/genre/harem">Harem</a>
                                        </li>
                                        <li>
                                            <a title="Horror mangas" href="https://mangafire.to/genre/horror">Horror</a>
                                        </li>
                                        <li>
                                            <a title="Isekai mangas" href="https://mangafire.to/genre/isekai">Isekai</a>
                                        </li>
                                        <li>
                                            <a title="Iyashikei mangas" href="https://mangafire.to/genre/iyashikei">Iyashikei</a>
                                        </li>
                                        <li>
                                            <a title="Josei mangas" href="https://mangafire.to/genre/josei">Josei</a>
                                        </li>
                                        <li>
                                            <a title="Kids mangas" href="https://mangafire.to/genre/kids">Kids</a>
                                        </li>
                                        <li>
                                            <a title="Magic mangas" href="https://mangafire.to/genre/magic">Magic</a>
                                        </li>
                                        <li>
                                            <a title="Mahou Shoujo mangas" href="https://mangafire.to/genre/mahou-shoujo">Mahou Shoujo</a>
                                        </li>
                                        <li>
                                            <a title="Martial Arts mangas" href="https://mangafire.to/genre/martial-arts">Martial Arts</a>
                                        </li>
                                        <li>
                                            <a title="Mecha mangas" href="https://mangafire.to/genre/mecha">Mecha</a>
                                        </li>
                                        <li>
                                            <a title="Military mangas" href="https://mangafire.to/genre/military">Military</a>
                                        </li>
                                        <li>
                                            <a title="Music mangas" href="https://mangafire.to/genre/music">Music</a>
                                        </li>
                                        <li>
                                            <a title="Mystery mangas" href="https://mangafire.to/genre/mystery">Mystery</a>
                                        </li>
                                        <li>
                                            <a title="Parody mangas" href="https://mangafire.to/genre/parody">Parody</a>
                                        </li>
                                        <li>
                                            <a title="Psychological mangas" href="https://mangafire.to/genre/psychological">Psychological</a>
                                        </li>
                                        <li>
                                            <a title="Reverse Harem mangas" href="https://mangafire.to/genre/reverse-harem">Reverse Harem</a>
                                        </li>
                                        <li>
                                            <a title="Romance mangas" href="https://mangafire.to/genre/romance">Romance</a>
                                        </li>
                                        <li>
                                            <a title="School mangas" href="https://mangafire.to/genre/school">School</a>
                                        </li>
                                        <li>
                                            <a title="Sci-Fi mangas" href="https://mangafire.to/genre/sci-fi">Sci-Fi</a>
                                        </li>
                                        <li>
                                            <a title="Seinen mangas" href="https://mangafire.to/genre/seinen">Seinen</a>
                                        </li>
                                        <li>
                                            <a title="Shoujo mangas" href="https://mangafire.to/genre/shoujo">Shoujo</a>
                                        </li>
                                        <li>
                                            <a title="Shounen mangas" href="https://mangafire.to/genre/shounen">Shounen</a>
                                        </li>
                                        <li>
                                            <a title="Slice of Life mangas" href="https://mangafire.to/genre/slice-of-life">Slice of Life</a>
                                        </li>
                                        <li>
                                            <a title="Space mangas" href="https://mangafire.to/genre/space">Space</a>
                                        </li>
                                        <li>
                                            <a title="Sports mangas" href="https://mangafire.to/genre/sports">Sports</a>
                                        </li>
                                        <li>
                                            <a title="Super Power mangas" href="https://mangafire.to/genre/super-power">Super Power</a>
                                        </li>
                                        <li>
                                            <a title="Supernatural mangas" href="https://mangafire.to/genre/supernatural">Supernatural</a>
                                        </li>
                                        <li>
                                            <a title="Suspense mangas" href="https://mangafire.to/genre/suspense">Suspense</a>
                                        </li>
                                        <li>
                                            <a title="Thriller mangas" href="https://mangafire.to/genre/thriller">Thriller</a>
                                        </li>
                                        <li>
                                            <a title="Vampire mangas" href="https://mangafire.to/genre/vampire">Vampire</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="newest" title="New Release Manga">Newest</a>
                                </li>
                                <li>
                                    <a href="updated" title="Recently Updated Manga">Updated</a>
                                </li>
                                <li>
                                    <a href="added" title="Recently Added Manga">Added</a>
                                </li>
                                <li>
                                    <a href="random" title="Random Manga">
                                        <i class="mr-1 fa-regular fa-shuffle"></i>
                                        Random
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div id="nav-search">
                            <div class="search-inner">
                                <form action="filter" autocomplete="off">
                                    <i class="fa-regular fa-magnifying-glass text-muted mr-1"></i>
                                    <input type="text" placeholder="Search manga..." name="keyword">
                                    <a href="filter" class="btn btn-primary2">
                                        <i class="fa-regular fa-circles-overlap fa-xs"></i>
                                        <span>Filter</span>
                                    </a>
                                </form>
                                <div class="suggestion"></div>
                            </div>
                        </div>
                        <div class="viewing number-toggler">
                            <span class="current-viewtype text-title"></span>
                            <span>
                                <b class="current-number"></b>
                                /<b class="latest-number"></b>
                            </span>
                        </div>
                        <div class="viewing mr-3 page-toggler">
                            <span>Page</span>
                            <span>
                                <b class="current-page"></b>
                                /<b class="total-page"></b>
                            </span>
                        </div>
                        <button id="nav-search-btn" class="btn nav-btn mr-2">
                            <i class="fa-regular fa-magnifying-glass"></i>
                        </button>
                        <div class="nav-user" id="user"></div>
                        <button id="show-ctrl-menu" class="btn btn-primary tooltipz" title="Use M button to toggle">
                            <i class="fa-solid fa-grid-2"></i>
                            <span>Menu</span>
                        </button>
                    </div>
                </div>
            </header>
            <main>
                <div class="m-content">
                    <div id="page-wrapper"></div>
                    <script type="text/template" id="number-nav">
                        
                <div class="number-nav">
                    <a class="prev" href="javascript:;">
                        <i class="ltr-icon fa-light fa-arrow-left mr-1"></i>
                        <i class="rtl-icon fa-light fa-arrow-right ml-1"></i>
                        Previous VIEW_TYPE
                    </a>
                    <a class="next" href="javascript:;">
                        Next VIEW_TYPE
                        <i class="ltr-icon fa-light fa-arrow-right ml-1"></i>
                        <i class="rtl-icon fa-light fa-arrow-left mr-1"></i>
                    </a>
                </div>
            
                    </script>
                    <div id="progress-bar" class="bottom">
                        <div>
                            <p>1</p>
                            <ul>
                                <li>
                                    <div>1</div>
                                </li>
                            </ul>
                            <p class="total-page"></p>
                        </div>
                    </div>
                    <div class="sub-panel scroll-sm" id="number-panel"></div>
                    <div class="sub-panel scroll-sm" id="page-panel">
                        <div class="head">
                            <span></span>
                            <button class="close-primary btn btn-secondary1" id="page-close">
                                <i class="fa-solid fa-chevron-right"></i>
                            </button>
                        </div>
                        <ul id="page-items"></ul>
                    </div>
                    <div class="sub-panel scroll-sm" id="comment-panel">
                        <div class="head">
                            <b>Comments</b>
                            <div class="close-primary btn btn-secondary1" id="comment-close">
                                <i class="fa-solid fa-chevron-right"></i>
                            </div>
                        </div>
                        <div class="body p-3">
                            <div id="disqus_thread"></div>
                        </div>
                    </div>
                </div>
                <div id="ctrl-menu" class="active">
                    <div class="head">
                        <a href="/manga/the-beginning-after-the-end.6v55p">The Beginning After the End</a>
                        <div class="close-primary btn btn-secondary1 tooltipz" id="ctrl-menu-close" title="Use M button to toggle">
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </div>
                    <button class="chapvol-switch">
                        <div>
                            <p>you are reading</p>
                            <b>
                                by <span class="current-viewtype">chapter</span>
                            </b>
                        </div>
                        <i class="fa-light fa-arrows-rotate"></i>
                    </button>
                    <div class="dropdown mb-2">
                        <button class="justify-content-center" data-toggle="dropdown" data-placeholder="false">
                            <i class="fa-regular fa-earth-americas"></i>
                            <span class="mx-1">Language: </span>
                            <b class="lang-view"></b>
                        </button>
                        <div class="lang-options dropdown-menu w-100 dropdown-menu-right">
                            <a class="dropdown-item" href="#" data-code="en" data-title="English">
                                <i class="flag EN"></i>
                                English 
                            </a>
                            <a class="dropdown-item" href="#" data-code="fr" data-title="French">
                                <i class="flag FR"></i>
                                French 
                            </a>
                            <a class="dropdown-item" href="#" data-code="pt" data-title="Portuguese">
                                <i class="flag PT"></i>
                                Portuguese 
                            </a>
                            <a class="dropdown-item" href="#" data-code="pt-br" data-title="Portuguese (Br)">
                                <i class="flag PT-BR"></i>
                                Portuguese (Br) 
                            </a>
                        </div>
                    </div>
                    <nav>
                        <button id="page-go-left">
                            <i class="fa-regular fa-chevron-left"></i>
                        </button>
                        <button class="page-toggler">
                            <b>
                                Page <span class="current-page"></span>
                            </b>
                            <i class="fa-solid fa-sort fa-sm"></i>
                        </button>
                        <button id="page-go-right">
                            <i class="fa-regular fa-chevron-right"></i>
                        </button>
                    </nav>
                    <nav>
                        <button id="number-go-left">
                            <i class="fa-regular fa-chevron-left"></i>
                        </button>
                        <button class="number-toggler">
                            <b class="current-type-number text-title"></b>
                            <i class="fa-solid fa-sort fa-sm"></i>
                        </button>
                        <button id="number-go-right">
                            <i class="fa-regular fa-chevron-right"></i>
                        </button>
                    </nav>
                    <button id="comment-toggler" class="jb-btn">
                        <i class="fa-light fa-message-dots fa-flip-horizontal fa-lg"></i>
                        <span>
                            <span class="current-type-number text-title"></span>
                            Comment
                        </span>
                    </button>
                    <div class="dropdown favourite" data-id="40268" data-fetch="true">
                        <button class="jb-btn" type="button" data-toggle="dropdown" data-placeholder="false" aria-expanded="false" data-add='<i class="fa-light fa-folder-bookmark fa-lg"></i><span>Bookmark</span>' data-edit='<i class="fa-light fa-folder-bookmark fa-lg"></i><span>Edit Bookmark</span>'>
                            <i class="fa-light fa-folder-bookmark fa-lg"></i>
                            <span>Bookmark</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right w-100 folders"></div>
                    </div>
                    <a href="/manga/the-beginning-after-the-end.6v55p" class="jb-btn">
                        <i class="fa-light fa-lg fa-circle-info"></i>
                        <span>Manga Detail</span>
                    </a>
                    <button class="jb-btn" data-toggle="modal" data-target="#report">
                        <i class="fa-light fa-lg fa-triangle-exclamation"></i>
                        <span>Report Error</span>
                    </button>
                    <hr/>
                    <div class="btn-options mb-2 tooltipz" data-name="header_visible" title="Use H button to toggle.">
                        <div data-value="hidden">
                            <button class="justify-content-between">
                                <span>Header Hidden</span>
                                <i class="fa-light fa-square fa-lg"></i>
                            </button>
                        </div>
                        <div data-value="sticky">
                            <button class="justify-content-between">
                                <span>Header Sticky</span>
                                <i class="fa-light fa-window-maximize fa-lg"></i>
                            </button>
                        </div>
                    </div>
                    <div class="btn-options mb-2" data-name="display_style">
                        <div data-value="singlepage">
                            <button class="justify-content-between">
                                <span>Single Page</span>
                                <i class="fa-light fa-page fa-lg"></i>
                            </button>
                        </div>
                        <div data-value="doublepage">
                            <button class="justify-content-between">
                                <span>Double Page</span>
                                <i class="fa-light fa-book-open fa-lg"></i>
                            </button>
                        </div>
                        <div data-value="longstrip">
                            <button class="justify-content-between">
                                <span>Long Strip</span>
                                <svg>
                                    <use xlink:href="#icon-longstrip"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="doublepage-offset-spreads mb-2" data-show-if="this.display_style == 'doublepage'">
                        <button class="justify-content-between">
                            <span>Double Page Offset Spreads</span>
                            <i class="fa-light fa-arrows-left-right-to-line fa-lg"></i>
                        </button>
                    </div>
                    <div class="btn-options mb-2" data-name="image_fit" data-show-if="this.image_fit != 'disabled'">
                        <div data-value="width">
                            <button class="justify-content-between">
                                <span>Fit Width</span>
                                <i class="fa-light fa-arrows-left-right fa-lg"></i>
                            </button>
                        </div>
                        <div data-value="height">
                            <button class="justify-content-between">
                                <span>Fit Height</span>
                                <i class="fa-light fa-arrows-up-down fa-lg"></i>
                            </button>
                        </div>
                        <div data-value="both">
                            <button class="justify-content-between">
                                <span>Fit Both</span>
                                <i class="fa-light fa-arrows-up-down-left-right fa-lg"></i>
                            </button>
                        </div>
                        <div data-value="none">
                            <button class="justify-content-between">
                                <span>No Limit</span>
                                <i class="fa-light fa-ban fa-lg"></i>
                            </button>
                        </div>
                    </div>
                    <div class="btn-options mb-2" data-name="reading_direction">
                        <div data-value="ltr">
                            <button class="justify-content-between">
                                <span>Left to Right</span>
                                <i class="fa-light fa-square-arrow-right fa-lg"></i>
                            </button>
                        </div>
                        <div data-value="rtl">
                            <button class="justify-content-between">
                                <span>Right to Left</span>
                                <i class="fa-light fa-square-arrow-left fa-lg"></i>
                            </button>
                        </div>
                    </div>
                    <div class="btn-options mb-2" data-name="progress_position">
                        <div data-value="top">
                            <button class="justify-content-between">
                                <span>Top Progress</span>
                                <i class="fa-light fa-arrow-down-from-line fa-lg"></i>
                            </button>
                        </div>
                        <div data-value="bottom">
                            <button class="justify-content-between">
                                <span>Bottom Progress</span>
                                <i class="fa-light fa-arrow-up-from-line fa-lg"></i>
                            </button>
                        </div>
                        <div data-value="left">
                            <button class="justify-content-between">
                                <span>Left Progress</span>
                                <i class="fa-light fa-arrow-right-from-line fa-lg"></i>
                            </button>
                        </div>
                        <div data-value="right">
                            <button class="justify-content-between">
                                <span>Right Progress</span>
                                <i class="fa-light fa-arrow-left-from-line fa-lg"></i>
                            </button>
                        </div>
                        <div data-value="none">
                            <button class="justify-content-between">
                                <span>No Progress</span>
                                <i class="fa-light fa-dash fa-lg"></i>
                            </button>
                        </div>
                    </div>
                    <button class="jb-btn" data-toggle="modal" data-target=".advanced-settings">
                        <span>Advanced Settings</span>
                        <i class="fa-light fa-sliders fa-lg"></i>
                    </button>
                    <div class="mt-3 text-center">
                        <div class="mb-2">Share to your friends</div>
                        <div class="text-center sharethis-inline-share-buttons"></div>
                    </div>
                </div>
            </main>
        </div>
        <div class="modal fade" id="report">
            <div class="modal-dialog limit-w modal-dialog-centered">
                <div class="modal-content p-4">
                    <div class="modal-close" data-dismiss="modal">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                    <h5 class="text-white mb-0">Report Error</h5>
                    <div class="mt-2">
                        <div>
                            <b>The Beginning After the End</b>
                        </div>
                        <div class="text-primary current-type-number text-title"></div>
                    </div>
                    <form class="mt-3" method="post" action="ajax/manga/report">
                        <input type="hidden" name="type">
                        <input type="hidden" name="id">
                        <div class="form-group mt-4 mb-2">
                            <textarea class="form-control" name="message" rows="3" placeholder="Please describe your issue here"></textarea>
                        </div>
                        <div class="form-group">
                            <span class="captcha d-flex justify-content-centerz" data-theme="dark"></span>
                        </div>
                        <button class="submit btn mt-3 btn-lg btn-primary w-100">
                            Send Report <i class="fa-solid fa-chevron-right fa-xs"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade advanced-settings">
            <div class="modal-dialog limit-w modal-dialog-centered">
                <div class="modal-content p-4">
                    <div class="modal-close" data-dismiss="modal">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                    <h5>Advanced Settings</h5>
                    <ul class="nav nav-tabs" data-tabs=".advanced-settings .tab-content">
                        <li class="nav-item">
                            <button class="nav-link active tab" data-name="page-layout">Page Layout</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link tab" data-name="image">Image</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link tab" data-name="shortcut">Shortcuts</button>
                        </li>
                    </ul>
                    <div class="tab-content" data-name="page-layout">
                        <div data-show-if="this.display_style != 'disabled'">
                            <div class="mb-2">Page Display Style</div>
                            <div class="setting-tab page-layout btn-options" data-name="display_style">
                                <div data-value="singlepage">
                                    <i class="fa-light fa-page"></i>
                                    <span>Single Page</span>
                                </div>
                                <div data-value="doublepage">
                                    <i class="fa-light fa-book-open"></i>
                                    <span>Double Page</span>
                                </div>
                                <div data-value="longstrip">
                                    <svg>
                                        <use xlink:href="#icon-longstrip"/>
                                    </svg>
                                    <span>Long Strip</span>
                                </div>
                            </div>
                            <div data-show-if="this.display_style == 'longstrip'">
                                <div class="form-group strip-margin">
                                    <label for="text">Strip Margin</label>
                                    <input type="number" class="form-control mx-2" placeholder="0" min="0" max="30" name="strip_margin_value">
                                    <button class="btn btn-secondary1 reset-strip-margin">Reset</button>
                                </div>
                            </div>
                            <div data-show-if="this.display_style == 'singlepage'">
                                <div class="custom-control custom-switch mb-4">
                                    <input type="checkbox" class="custom-control-input" id="enable-lr_swiping" name="enable_lr_swiping">
                                    <label class="custom-control-label" for="enable-lr_swiping">Enable left/right swiping</label>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2">Reading Direction</div>
                        <div class="setting-tab read-direction btn-options" data-name="reading_direction">
                            <div data-value="ltr">
                                <i class="fa-light fa-square-arrow-right mr-1"></i>
                                <span>Left To Right </span>
                                <b>LTR</b>
                            </div>
                            <div data-value="rtl">
                                <span>Right To Left</span>
                                <b>RTL</b>
                                <i class="fa-light fa-square-arrow-left ml-1"></i>
                            </div>
                        </div>
                        <div class="mb-2">Progress Bar Position</div>
                        <div class="setting-tab progress-position btn-options" data-name="progress_position">
                            <div data-value="top">
                                <i class="fa-light fa-arrow-down-from-line"></i>
                                <span>Top </span>
                            </div>
                            <div data-value="bottom">
                                <i class="fa-light fa-arrow-up-from-line"></i>
                                <span>Bottom</span>
                            </div>
                            <div data-value="left">
                                <i class="fa-light fa-arrow-right-from-line"></i>
                                <span>Left</span>
                            </div>
                            <div data-value="right">
                                <i class="fa-light fa-arrow-left-from-line"></i>
                                <span>Right</span>
                            </div>
                            <div data-value="none">
                                <i class="fa-light fa-dash"></i>
                                <span>None</span>
                            </div>
                        </div>
                        <div class="custom-control custom-switch mb-4">
                            <input type="checkbox" class="custom-control-input" id="show_tips" name="show_tips">
                            <label class="custom-control-label" for="show_tips">Show tips when header and sidebar are hidden.</label>
                        </div>
                    </div>
                    <div class="tab-content" data-name="image" style="display:none">
                        <div class="mb-2">Image Sizing</div>
                        <div class="custom-control custom-switch mb-2">
                            <input type="checkbox" class="custom-control-input" id="image-fit-width" name="image_fit_width" data-enable-if="this.image_fit_width != 'disabled'">
                            <label class="custom-control-label" for="image-fit-width">Contain to width</label>
                        </div>
                        <div class="custom-control custom-switch mb-2">
                            <input type="checkbox" class="custom-control-input" id="image-fit-height" name="image_fit_height" data-enable-if="this.image_fit_height != 'disabled'">
                            <label class="custom-control-label" for="image-fit-height">Contain to height</label>
                        </div>
                        <div class="custom-control custom-switch mb-2">
                            <input type="checkbox" class="custom-control-input" id="stretch-small-pages" name="stretch_small_pages" data-enable-if="this.image_fit_width == 1 || this.image_fit_height == 1">
                            <label class="custom-control-label" for="stretch-small-pages">Stretch small pages</label>
                        </div>
                        <div class="custom-control custom-switch mb-2">
                            <input type="checkbox" class="custom-control-input" id="limit-max-width" name="limit_max_width" data-enable-if="this.image_fit_width == 1">
                            <label class="custom-control-label" for="limit-max-width">Limit max width</label>
                        </div>
                        <div class="form-group mb-2" data-show-if="this.limit_max_width == 1">
                            <div class="d-flex  align-items-center">
                                <label class="mr-2" for="limit_max_width_value">
                                    <span>0</span>
                                    px
                                </label>
                                <input type="range" class="custom-range form-control-range w-100" min="1" name="limit_max_width_value" data-enable-if="this.image_fit_width == 1 && this.limit_max_width == 1">
                            </div>
                        </div>
                        <div class="custom-control custom-switch mb-2">
                            <input type="checkbox" class="custom-control-input" id="limit-max-height" name="limit_max_height" data-enable-if="this.image_fit_height == 1">
                            <label class="custom-control-label" for="limit-max-height">Limit max height</label>
                        </div>
                        <div class="form-group mb-2" data-show-if="this.limit_max_height == 1">
                            <div class="d-flex align-items-center">
                                <label class="mr-2" for="limit_max_height_value">
                                    <span>0</span>
                                    px
                                </label>
                                <input type="range" class="custom-range form-control-range w-100" min="1" name="limit_max_height_value" data-enable-if="this.image_fit_height == 1 && this.limit_max_height == 1">
                            </div>
                        </div>
                        <div class="mb-2 mt-4">Image Coloring</div>
                        <div class="custom-control custom-switch mb-2">
                            <input type="checkbox" class="custom-control-input" id="greyscale-pages" name="greyscale_pages">
                            <label class="custom-control-label" for="greyscale-pages">Greyscale pages</label>
                        </div>
                        <div class="custom-control custom-switch mb-2">
                            <input type="checkbox" class="custom-control-input" id="dim-pages" name="dim_pages">
                            <label class="custom-control-label" for="dim-pages">Dim pages</label>
                        </div>
                        <div class="form-group mb-2" data-show-if="this.dim_pages == 1">
                            <label for="dim_pages_value">
                                Dimmed by <span>0</span>
                                %
                            </label>
                            <input type="range" class="custom-range form-control-range w-100" min="0" max="100" name="dim_pages_value">
                        </div>
                    </div>
                    <div class="tab-content" data-name="shortcut" style="display:none">
                        <div class="mb-2">Keyboard Shortcuts</div>
                        <div class="form-group">
                            <ul>
                                <li>
                                    <b>H</b>
                                    : Toggle show/hide header.
                                </li>
                                <li>
                                    <b>M</b>
                                    : Toggle show/hide menu.
                                </li>
                                <li>
                                    <b>N</b>
                                    : Skip forward a chapter/volume.
                                </li>
                                <li>
                                    <b>B</b>
                                    : Skip backward a chapter/volume.
                                </li>
                                <li>
                                    <b class="fa-solid fa-arrow-right"></b>
                                    : Skip a page, forward in LTR or backward in RTL
                                </li>
                                <li>
                                    <b class="fa-solid fa-arrow-left"></b>
                                    : Skip a page, backward in LTR or forward in RTL.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script id="syncData" type="application/json">
            {
                "page": "chapter",
                "number": "185",
                "name": "The Beginning After the End",
                "manga_id": 40268,
                "mal_id": "",
                "anilist_id": "",
                "base_url": "https:\/\/mangafire.to",
                "manga_url": "https:\/\/mangafire.to\/manga\/the-beginning-after-the-end.6v55p",
                "selector_position": "#mal-sync",
                "next_chapter_url": ""
            }</script>
        <div class="modal fade" id="sign">
            <div class="modal-dialog limit-w modal-dialog-centered cts-wrapper">
                <div class="modal-content p-4 cts-block" data-name="signin">
                    <div class="modal-close" data-dismiss="modal">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                    <h4 class="text-white">Welcome back!</h4>
                    <p class="text-muted">Sign in to your account</p>
                    <form class="ajax-login mt-2" action="ajax/user/login" method="post" data-broadcast="user:updated">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username or Email" name="username" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Your Password" name="password" required>
                        </div>
                        <div class="form-group text-center">
                            <a class="cts-switcher" data-target="forgot" href="#">Forgot Your Password?</a>
                        </div>
                        <div class="form-group">
                            <span class="captcha d-flex justify-content-center" data-theme="dark"></span>
                        </div>
                        <button class="btn my-3 btn-lg btn-primary w-100">
                            Login Now <i class="fa-solid fa-angle-right"></i>
                        </button>
                    </form>
                    <div class="text-center">
                        Don't have an account? <a class="text-primary1 cts-switcher" href="#" data-target="signup">Register Now</a>
                    </div>
                </div>
                <div class="modal-content p-4 cts-block" data-name="signup" style="display:none">
                    <div class="modal-close" data-dismiss="modal">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                    <h4 class="text-white">Create an account</h4>
                    <p class="text-muted">Create an account to enjoy more features</p>
                    <form class="ajax-register mt-2" action="ajax/user/register" method="post" data-broadcast="user:updated">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your username" name="username" required>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Your Email" name="email" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Your Password" name="password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Repeat Your Password" name="password_confirmation">
                        </div>
                        <div class="form-group">
                            <span class="captcha d-flex justify-content-center" data-theme="dark"></span>
                        </div>
                        <button class="btn my-3 btn-lg btn-primary w-100">
                            Register <i class="fa-solid fa-angle-right"></i>
                        </button>
                    </form>
                    <div class="text-center">
                        Already have an account? <a href="#" class="text-primary1 cts-switcher" data-target="signin">Login Now</a>
                    </div>
                </div>
                <div class="modal-content p-4 cts-block" data-name="forgot" style="display:none">
                    <div class="modal-close" data-dismiss="modal">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                    <h4 class="text-white">Forgot your password</h4>
                    <p class="text-muted">We will send an email if your account exists</p>
                    <form class="ajax mt-2" action="ajax/user/forgot-password" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email or Username" name="account" required>
                        </div>
                        <div class="form-group">
                            <span class="captcha d-flex justify-content-center" data-theme="dark"></span>
                        </div>
                        <button class="btn my-3 btn-lg btn-primary w-100">
                            Register <i class="fa-solid fa-angle-right"></i>
                        </button>
                    </form>
                    <div class="text-center">
                        Already have an account? <a href="#" class="text-primary1 cts-switcher" data-target="signin">Login Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="request">
            <div class="modal-dialog limit-w modal-dialog-centered">
                <div class="modal-content p-4">
                    <div class="modal-close" data-dismiss="modal">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                    <h4 class="text-white">Send a Request</h4>
                    <p class="text-muted mt-2">If you can't find your favourite manga in our library, please submit a request. We will try to make it available as soon as possible.</p>
                    <form class="ajax mt-3" method="post" action="ajax/manga/request">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter your manga name" name="title" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Link to MAL/ Anilist or any if possible" name="ref_url">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="3" placeholder="More detail about it if possible"></textarea>
                        </div>
                        <div class="form-group d-flex justify-content-center">
                            <span class="captcha" data-theme="dark"></span>
                        </div>
                        <button type="submit" class="submit btn mt-3 btn-lg btn-primary w-100">
                            Send Request <i class="fa-solid fa-angle-right"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <script>
            var recaptchaSiteKey = '6Lf3t9AZAAAAABXVY4vuHLoMSxidK0fOSGwtsaTs';
        </script>
        <script src="https://www.google.com/recaptcha/api.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/4.2.0/js/tooltipster.bundle.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.4/js/swiper.min.js"></script>
        <script type="text/javascript" src="assets/t2/min/all.js?6695b800190b5ac5f67"></script>
        <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=64b8a8a371afd40013e96ae0&product=sop' async='async'></script>
        <svg class="d-none">
            <symbol id="icon-longstrip" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                <path d="M14,1.2v3.6c0,1.1-0.9,2-2,2H4c-1.1,0-2-0.9-2-2V1.2h1v3.6c0,0.6,0.4,1,1,1h8c0.6,0,1-0.4,1-1V1.2H14z M12,9.4H4 c-1.1,0-2,0.9-2,2V15h1v-3.6c0-0.6,0.4-1,1-1h8c0.6,0,1,0.4,1,1V15h1v-3.6C14,10.3,13.1,9.4,12,9.4z"/>
            </symbol>
        </svg>
        <script type='text/javascript' src='//roledale.com/4b/e4/50/4be450692887079736412ba0aa1deb22.js'></script>
        <script>
            if (window.innerWidth > 1024) {
                document.write('<div id="bg_7434298570"></div><script data-cfasync="false" src="//platform.pubadx.one/ads.php?domainid=7434&sizeid=29&zoneid=8570"><\/script>');
            }
        </script>
    </body>
</html>
