<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='MAINICON-20240501-rounded.png') }}">
    <title>404 - Chapter Not Found</title>
</head>
<body>
    {% include 'header.html' %}
    <main>
        <section class="hero">
            <h2>404 - Chapter Not Found</h2>
            <p>This Chapter is not accessible or does not exist.</p>
            <a style='cursor: pointer;' id="homeButton">Return To Home</a>
        </section>
        
    </main>
    <script>
        document.getElementById('homeButton').addEventListener('click', function() {
            window.location.href = '/';
        });
    </script>
</body>
</html>
